main {
    display: flex;
    flex-direction: row;
}

#name_generator{
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 55%;
    top: 20%;
    border-style:solid ;
    width: 400px;
    height: 500px;
    background-color: rgb(247, 82, 96);
}

#name_generator h2 {
    font-size: 50px;
    position: absolute;
    left: 7%;
}

.flow-text {
    display: inline-block;
    border-style:solid;
    border-top: none;
    border-left:none ;
    border-right: none;
}


#button-container {
    position: absolute;
    top: 70%;
    left: 40%;
    font-size: 60px;
}

.row .col.m7 {
    width: 30%;
    margin-left: auto;
    right: auto;
    position: fixed;
    left: 15%;
    top: 20%;
}

.grid-example.col.s12.m6 {
    position: absolute;
    top: 35%;
    left: 15%;
}

body{
    background-image: url("../images/cats-and-dogs.jpeg");
   
}

button{
    cursor: pointer;
}
