:root {
    --font-color: rgb(43, 61, 226);
}

body {
    background-image: url("../images/cats-and-dogs.jpeg");
    min-height: 100vh;
}

#container h1{
margin: 20px auto;
}

#container {
    margin: 20px auto;    /*  HEY RICKY LOOK AT THIS PROPERTY TO CENTER */
    display: flex;
    width: 500px;
    height: 500px;
    flex-direction: column;
    border-style: solid;
    background-color: rgb(247, 82, 96);
    top: 20%;
    left: 30%;
}

.animal {
    border: none;
    /* background-color: rgb(119, 182, 94); */
    cursor: pointer;
    background-color: rgb(247, 82, 96);
}

#input_text {
    color: white;
    width: 33%;
}

.input-field label {
    color: rgb(43, 61, 226);
}

.row .col.s12 {
    position: fixed;
    left: 28%;
    width: 400px;
}

#container {
    display: flex;
    width: 500px;
    height: 500px;
    flex-direction: column;
    border-style: solid;
    background-color: rgb(247, 82, 96);
}

.lower-container {
    display: flex;
    justify-content: center;
    margin: 500px auto;
}

.lower-container > * {
  margin: 10px;
} 

.input-field {
    margin-top: 1rem;
    margin-bottom: 1rem;
    top: 60%;
    left: 30%;
    width: 200px;
}

#animal-button {
    margin: 30px auto ;
    
}
/* 
animals.css 
*/
.flex-child {
    width: 400px;
    border: 2px solid black;
    justify-content: center;
    background-color: rgb(106, 233, 216);
}

#favorite {
    display: flex;
}

#animalResult {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 

}

html {
    scroll-behavior: smooth;
}