:root {
    --accentColor: rgb(247, 82, 96);
}
body {
    background-image: url("../images/cats-and-dogs.jpeg");
    min-height: 100vh;
}
h2 {
    text-align: center;
}
h3 {
    text-align: center;
}

#container {
    margin: 20px auto; 
    display: flex;
    width: 500px;
    height: 500px;
    flex-direction: column;
    border-style: solid;
    background-color: var(--accentColor);
}

.animal {
    border: none;
    cursor: pointer;
    background-color:var(--accentColor);
}
#startOver {
    cursor: pointer;
    width:200px;
    align-self: center;
    background-color: var(--accentColor);
}
#startOver:hover {
    filter:brightness(110%);
    box-shadow: -0.2rem 0.225rem 0.7rem 0 #e088aa;
    transform: translateY(-0.2rem);
    transition: transform 150ms;
}


i {
    font-style: normal ;
}


#container {
    display: flex;
    width: 500px;
    height: 500px;
    flex-direction: column;
    border-style: solid;
    background-color: rgb(247, 82, 96);
}

.lower-container {
    display: flex;
    justify-content: center;
    margin: 500px auto;
}

.lower-container > * {
  margin: 10px;
} 

.input-field {
    left: 30%;
    width: 200px;
}

#animal-button {
    margin: 30px auto ;
    
}

.flex-child {
    width: 400px;
    border: 2px solid black;
    justify-content: center;
    background-color: rgb(106, 233, 216);
}


#animalResults {
    margin: 10px;
}

html {
    scroll-behavior: smooth;
}

#favorite{
    margin: 10px;
}